.user,
.current__user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: rem(12px);
}

.user__photo-container {
    width: rem(48px);
    height: rem(48px);
    background-position: center center;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.85714rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &--small {
        width: rem(33px);
        height: rem(33px);
    }
}

.user__status {
    color: #7f91a4;
}